.layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.cabecalho {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
}

.cabecalho a {
    background-color: #eee;
    color: #222;
    padding: 8px 9px;
}

.conteudo {
    padding: 25px;
    height: 100%;
}